/* General Styles */
.get-app {
    padding: 40px 20px;
    font-family: 'Poppins', sans-serif;
    background-image: url("https://images.pexels.com/photos/4153615/pexels-photo-4153615.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"); /* Set the image as background */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Adjust as needed */
    color: #fff; /* White text for better contrast */
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6); /* Dark overlay */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .get-app-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
    z-index: 1; /* Ensure text appears above overlay */
  }
  
  /* Text Section */
  .get-app .app-text h2 {
    font-size: 2.6rem;
    margin-bottom: 20px;
    color: #fff;
  }
  
  .buttons {
    display: flex;
    gap: 15px;
    margin-bottom: 20px;
    justify-content: center; /* Center align the buttons horizontally */
    align-items: center; /* Center align the buttons vertically */
    width: 100%; /* Ensure the container takes full width */
}

.app-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1rem;
    color: #fff;
    background-color: brown;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}
  .app-button:hover {
    background-color: brown;
  }
  
  .toggle-line {
    font-size: 1.5rem;
    color: white;
    cursor: pointer;
    text-align: center; /* Align text to the left */
    margin-left: 0; /* Ensure no left margin */
    padding-left: 0; /* Ensure no left padding */
}
  
.description {
    position: absolute; /* Position it absolutely */
    top: 0; /* Adjust as needed */
    left: 0; /* Adjust as needed */
    margin-top: 240px;

    padding: 15px;
    text-align: left;
    background-color: brown; /* Semi-transparent background */
    border-radius: 5px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000; /* Ensure it appears above other elements */
}
  
  .description p {
    font-size: 1rem;
    color: #fff;
  }
  